/* * {
  outline: solid;
} */

.bg-blue {
  background: rgb(8,20,121);
  background: linear-gradient(216deg, rgba(8,20,121,1) 13%, rgba(120,158,181,1) 59%, rgba(197,210,224,1) 75%, rgba(246,252,252,1) 92%);
}

.btn-custom {
  border-radius: 4px;
  background-color: teal;
  border: 0;
  width: 90%;
  bottom: -1rem;
  margin-left: 5%;
}

.bg-trans {
  background-color: transparent;
}

.col-12.col-md-5.align-items-end{
  display: flex;

}

.stay {
  position: relative;
  top: 5vh;
}

.spill {
  position: absolute;
  
}

.buffer {
  height: 10vh;
}
