/* * {
  outline: solid;
} */

.bg-blue {
  background-image: url(misty-mountains-watercolor.jpg)
}

.bg-card-deck{
  background-color: rgb(15, 108, 170);
}

.bg-grey {
  background-color: rgb(177, 211, 231);
}

.logo {
  font-size: xx-large;
  color: white;
}

.logo-image {
  width: 20vw;
  height: 25vh;
}

.btn-custom {
  border-radius: 4px;
  background-color: rgb(42, 197, 197);
  border: 0;
  width: 90%;
  bottom: -1rem;
  margin-left: 5%;
}

.bg-trans {
  background-color: transparent;
}

.col-12.col-md-5.align-items-end{
  display: flex;

}

.stay {
  position: relative;
  top: 5vh;
}

.spill {
  position: absolute;
  
}

.buffer {
  height: 10vh;
}

